---

---

<section id="section" class="h-full bg-linear-to-b from-[#F0F9F6] to-[#F8F9FA]">
    <main
        class="flex flex-col pt-16 md:flex-row items-center max-md:text-center justify-between pb-16 px-6 sm:px-10 md:px-24 max-w-7xl mx-auto w-full"
    >
        <div class="flex flex-col items-center md:items-start">
            <h1
                class="text-gray-900 font-['Alfa_Slab_One'] text-4xl sm:text-4xl md:text-5xl max-w-xl"
            >
                NEXUX:
                <span
                    class="bg-linear-to-r from-violet-500 to-purple-500 text-transparent bg-clip-text"
                    >Conecta Ideas,</span
                >
                <span
                    class="bg-linear-to-r from-indigo-500 to-blue-500 text-transparent bg-clip-text"
                    >Multiplica
                </span><span
                    class="bg-linear-to-r from-teal-400 to-yellow-200 text-transparent bg-clip-text"
                    >Resultados</span
                >
            </h1>
            <p
                class="mt-4 text-gray-600 max-w-md text-md sm:text-base leading-relaxed"
            >
                Plantillas Digitales, Recursos Personalizados, Libros Digitales,
                Servicios Y Más.
            </p>
            <div class="flex flex-col md:flex-row items-center mt-8 gap-3">
                <a href="">
                    <button
                        class="bg-indigo-600 text-white px-6 pr-2.5 py-2.5 rounded-full text-sm font-medium flex items-center space-x-2 hover:bg-indigo-700 transition"
                        type="button"
                    >
                        <span> Empieza Ya! </span>
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M4.821 11.999h13.43m0 0-6.714-6.715m6.715 6.715-6.715 6.715"
                                stroke="#fff"
                                stroke-width="1.8"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
        <div
            aria-label="Photos of leaders"
            class="mt-12 grid grid-cols-2 gap-6 pb-6"
        >
            <img
                alt=""
                class="w-36 h-44 rounded-lg hover:scale-105 transition duration-300 object-cover shrink-0 shadow-lg"
                height="140"
                src="#"
                width="120"
            />
            <img
                alt=""
                class="w-36 h-44 rounded-lg hover:scale-105 transition duration-300 object-cover shrink-0 shadow-lg"
                height="140"
                src="#"
                width="120"
            />
            <img
                alt=""
                class="w-36 h-44 rounded-lg hover:scale-105 transition duration-300 object-cover shrink-0 shadow-lg"
                height="140"
                src="#"
                width="120"
            />
            <img
                alt=""
                class="w-36 h-44 rounded-lg hover:scale-105 transition duration-300 object-cover shrink-0 shadow-lg"
                height="140"
                src="#"
                width="120"
            />
        </div>
    </main>
</section>
