---

---

<div
    class="bg-white p-8 flex border-t border-slate-200 flex-col items-center justify-center"
>
    <h1
        class="font-['Alfa_Slab_One'] font-normal tracking-wide text-4xl md:text-5xl"
    >
        Marketplace Nexux
    </h1>
    <p class="pt-4 text-lg text-gray-600">
        Descubre una amplia gama de productos y servicios diseñados para
        impulsar tu negocio y potenciar tu creatividad.
    </p>
    <div class="flex flex-wrap items-center justify-center gap-12 pt-12">
        <div
            class="bg-white rounded-lg max-w-72 shadow-md w-full hover:-translate-y-0.5 transition duration-300"
        >
            <img src="/Logo-Nexux.jpeg" alt="Plantillas" />
            <div class="p-4">
                <h1 class="text-md font-bold">Plantillas Personalizadas</h1>
                <h3 class="text-slate-900 text-sm mt-1 mb-4">
                    Color Psychology in UI: How to Choose the Right Palette
                </h3>
                <a href="">
                    <button
                        class="bg-[#F38218] text-white px-6 pr-2.5 py-2.5 rounded-full text-sm font-medium flex items-center space-x-2 hover:bg-[#F38218]/80 transition"
                        type="button"
                    >
                        <span>Ver Plantillas</span>
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M4.821 11.999h13.43m0 0-6.714-6.715m6.715 6.715-6.715 6.715"
                                stroke="#fff"
                                stroke-width="1.8"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
        <div
            class="bg-white rounded-lg max-w-72 shadow-md w-full hover:-translate-y-0.5 transition duration-300"
        >
            <img src="/Logo-Nexux.jpeg" alt="" />
            <div class="p-4">
                <h1 class="text-md font-bold">Plantillas Personalizadas</h1>
                <h3 class="text-slate-900 text-sm mt-1 mb-4">
                    Color Psychology in UI: How to Choose the Right Palette
                </h3>
                <a href="">
                    <button
                        class="bg-[#2E71B8] text-white px-6 pr-2.5 py-2.5 rounded-full text-sm font-medium flex items-center space-x-2 hover:bg-indigo-700 transition"
                        type="button"
                    >
                        <span>Ver Plantillas</span>
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M4.821 11.999h13.43m0 0-6.714-6.715m6.715 6.715-6.715 6.715"
                                stroke="#fff"
                                stroke-width="1.8"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
